
#cra-map {
	position: relative;
	height: 550px;
}

/*
 * bubbletree styles
 */ 
 
#cm-bt {
	width: 550px;
}

#cm-bt .bubbletree-wrapper {
	height: 500px;
	width: 550px;
}

#cm-bubbletree .label {
	background: transparent;
	padding: 0; 
	margin: 0;
}

#cm-bubbletree .label .amount {
	font-weight: normal;
}

#cm-bubbletree .label .desc {
	font-family: "OpenSansLight","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	line-height: 1.2em;
}

#cm-bubbletree .label2 {
	line-height: 1.2em;
	font-family: "OpenSansLight","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#cm-bt .bubbletree .label2 span {
	background: rgba(255,255,255,.7);
}

#cm-bubbletree .label2.current {
	font-weight: bold;
	font-family: OpenSansSemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#cm-bubbletree .label.current .desc {
	font-weight: bold;
	font-family: OpenSansSemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/*
 * map styles
 *
 */

#cm-map {
	position: absolute;
	left: 540px;
	top: 10px;
	width: 390px;
	height: 500px;
}

#cm-map svg .IRL {
	stroke: none;
	fill: #eee;
}

#cm-map svg .GBR {
	stroke: #fff;
}

/*
 * map legend
 */

#cm-map-legend {
	position: absolute;
	right: -10px;
	top: 10px;
	width: 100px;
	height: 200px;
}

#cm-map-legend .title {
	font-style: italic;
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 8px;
}

#cm-map-legend .row {
	margin: 0 0 4px;
}

#cm-map-legend .color {
	width: 13px;
	height: 15px;
	border-radius: 3px;
	float: left;
	margin-right: 5px;
}

#cm-map-legend .lbl {
	font-size: 11px;
	color: #444;
	line-height: 15px;
	position: relative;
	top: 2px;
	white-space: no-wrap;
	width: 200px;
	font-family: "OpenSansLight","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui-tooltip-content .amount {
	font-size: 20px;
	font-weight: normal;
	font-family: Palatino, Georgia;
	border-top: 1px dashed #ccc;
	padding-top: 8px;
	margin: 5px 0 3px;
}


/*
* qTip2 - Pretty powerful tooltips
* http://craigsworks.com/projects/qtip2/
*
* Version: nightly
* Copyright 2009-2010 Craig Michael Thompson - http://craigsworks.com
*
* Dual licensed under MIT or GPLv2 licenses
*   http://en.wikipedia.org/wiki/MIT_License
*   http://en.wikipedia.org/wiki/GNU_General_Public_License
*
* Date: Mon Nov 21 13:18:18.0000000000 2011
*/


/* Core qTip styles */
.ui-tooltip, .qtip{
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;

	max-width: 180px;
	min-width: 50px;
	
	font-size: 12px;
	line-height: 15px;

	z-index: 15000;
}

/* Fluid class for determining actual width in IE */
.ui-tooltip-fluid{
	display: block;
	visibility: hidden;
	position: static !important;
	float: left !important;
}

.ui-tooltip-content{
	position: relative;
	padding: 5px 9px;
	overflow: hidden;
	
	border-width: 1px;
	border-style: solid;
	
	text-align: left;
	word-wrap: break-word;
	overflow: hidden;
}

.ui-tooltip-titlebar{
	position: relative;
	min-height: 14px;
	padding: 5px 35px 5px 10px;
	overflow: hidden;
	
	border-width: 1px 1px 0;
	border-style: solid;

	font-weight: bold;
}

.ui-tooltip-titlebar + .ui-tooltip-content{ border-top-width: 0px !important; }

/*! Default close button class */
.ui-tooltip-titlebar .ui-state-default{
	position: absolute;
	right: 4px;
	top: 50%;
	margin-top: -9px;

	cursor: pointer;
	outline: medium none;

	border-width: 1px;
	border-style: solid;
}

* html .ui-tooltip-titlebar .ui-state-default{ top: 16px; } /* IE fix */

.ui-tooltip-titlebar .ui-icon,
.ui-tooltip-icon .ui-icon{
	display: block;
	text-indent: -1000em;
}

.ui-tooltip-icon, .ui-tooltip-icon .ui-icon{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.ui-tooltip-icon .ui-icon{
	width: 18px;
	height: 14px;

	text-align: center;
	text-indent: 0;
	font: normal bold 10px/13px Tahoma,sans-serif;

	color: inherit;
	background: transparent none no-repeat -100em -100em;
}


/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.ui-tooltip-focus{

}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.ui-tooltip-hover{
	
}


/*! Default tooltip style */
.ui-tooltip-default .ui-tooltip-titlebar,
.ui-tooltip-default .ui-tooltip-content{
	border-color: #777;
	background-color: #fff;
	color: #000;
	border-radius: 0 0 5px 5px;
	box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

.ui-tooltip-default .ui-tooltip-titlebar{
	background-color: #222;
	color: #fff;
	border-radius: 5px 5px 0 0;
	font-size: 12px;
	font-weight: 300;
	font-family: "OpenSansLight","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui-tooltip-default .ui-tooltip-icon{
	border-color: #CCC;
	background: #F1F1F1;
	color: #777;
	
}

.ui-tooltip-default .ui-tooltip-titlebar .ui-state-hover{
	border-color: #AAA;
	color: #111;
}

